@import "../../styles.scss";
:hostauth {
  #auth {
    color: $black;
    overflow: hidden;
    height: 100vh;
  }
  .internationalization {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .contents {
    @extend .center-flex; // styleGuide/behaviors
    //background: rgba($primary, 0.2) url("../../assets/img/businnes.jpg");
    background: $primary;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    perspective: 1000px;
    height: 100%;
  }
  .box-inner {
    max-width: 500px;
    width: 100%;
    height: 100%;
    position: relative;
    @extend .center-flex;
  }
  .content {
    max-width: 450px;
    width: 100%;
    background: $white;
    padding: 40px 24px;
    border-radius: $radius-slim;
    @media (max-width: 981px) {
      min-height: 100vh;
      top: 0;
    }
    @extend .center-flex;
    .todo {
      width: 90%;
      text-align: center;
      @media (max-width: 981px) {
        width: 100%;
      }
    }
    .login-social {
      .social {
        @media (max-width: 981px) {
          width: 100%;
        }
        img {
          margin-right: 10px;
        }
      }
    }

    h5 {
      color: $black;
      font-weight: 600;
      margin-bottom: 32px;
    }
    p {
      font-size: $font-sm;
      margin: 0;
    }
  }
}
