<ul class="mobile-menu animated fadeInLeft faster" *ngIf="isOpened$">
  <nav class="nav nav-menu" id="navheader" primary="background">
    <figure class="flex branding w-100">
      <img src="./assets/img/localiza.png" alt="" />
    </figure>
    <section class="user center-flex">
      <avatar [name]="user.name"></avatar>
      <span class="text-white">Ola {{ user.name }}</span>
    </section>
  </nav>
  <section class="menu">
    <article>
      <li class="nav-item active">
        <a class="nav-link" routerLink="boards" (click)="closeMenu()">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="boards" (click)="closeMenu()">Features</a>
      </li>
    </article>
    <article>
      <li class="nav-item active">
        <a class="nav-link" routerLink="boards" (click)="closeMenu()">Perfil </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="boards" (click)="closeMenu()">Sair</a>
      </li>
    </article>
  </section>
</ul>
<div
  id="backdropMenu"
  class="backdrop animated fadeIn"
  *ngIf="isOpened$"
  (click)="closeMenu()"
></div>
