<ngb-alert type="danger" [dismissible]="false" *ngIf="r.email.errors"
  >E-mail já cadastrado</ngb-alert
>
<form class="form-group" [formGroup]="registerForm" (ngSubmit)="register()">
  <div>
    <label for="" class="pre-label">
      <span>Nome Completo</span>
      <input
        type="text"
        class="form-control"
        formControlName="name"
        class="form-control"
        [ngClass]="{ 'is-invalid animated shake': submitted && r.name.errors }"
      />
      <div *ngIf="submitted && r.name.errors">
        <p *ngIf="r.name.errors.required" class="text-danger prepend">
          Nome obrigatorio
        </p>
      </div>
    </label>

    <label for="" class="pre-label">
      <span>E-mail</span>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        class="form-control"
        [ngClass]="{ 'is-invalid animated shake': submitted && r.email.errors }"
      />
      <div *ngIf="submitted && r.email.errors">
        <p *ngIf="r.email.errors.required" class="text-danger prepend">
          E-mail obrigatorio
        </p>
        <p *ngIf="r.email.errors.email" class="text-danger prepend">
          Digite um e-mail valido
        </p>
      </div>
    </label>
    <label for="" class="pre-label">
      <span>Senha</span>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        name="password"
        [ngClass]="{
          'is-invalid animated shake': submitted && r.password.errors
        }"
      />
      <div *ngIf="submitted && r.password.errors">
        <p *ngIf="r.password.errors.required" class="text-danger prepend">
          Senha obrigatoria
        </p>
        <p *ngIf="r.password.errors.minlength" class="text-danger prepend">
          Minimo de 6 caracteres
        </p>
      </div>
    </label>
    <label for="" class="pre-label">
      <span>Repita a senha</span>
      <input
        type="password"
        class="form-control"
        formControlName="confirmPassword"
        class="form-control"
        [ngClass]="{
          'is-invalid animated shake': submitted && r.confirmPassword.errors
        }"
      />
      <div
        *ngIf="submitted && r.confirmPassword.errors"
        class="invalid-feedback"
      >
        <p
          *ngIf="r.confirmPassword.errors.required"
          class="text-danger prepend"
        >
          Confirmaçao de senha obrigatoria
        </p>
        <p
          *ngIf="r.confirmPassword.errors.mustMatch"
          class="text-danger prepend"
        >
          Senhas nao conferem
        </p>
      </div>
    </label>
    <k-button
      [customClass]="'w-100 btn-submit'"
      [type]="'primary'"
      [loading]="loading"
    >
      Cadastrar
    </k-button>
  </div>
</form>
<hr />
<p class="mt-3">Cadastre-se usando</p>
<div class="action-buttons flex">
  <button class="btn btn-light center-flex btn-submit social">
    <img src="./assets/img/facebook.png" width="25" />
  </button>
  <button class="btn btn-light center-flex btn-submit social">
    <img src="./assets/img/google.png" width="25" />
  </button>
</div>
<hr />
<div>
  <p>Ja possui uma conta?</p>
  <a routerLink="/auth/login" class="btn text-primary btn-submit">
    Entrar
  </a>
</div>
