<div class="modal-header">
  <h4 class="modal-title">{{ team?.title ? "Editar Time" : "Novo Time" }}</h4>
  <button
    type="button"
    class="btn btn-icon btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <i class="material-icons">close</i>
  </button>
</div>
<form class="form-group" [formGroup]="teamForm">
  <div class="modal-body">
    <div>
      <label for="" class="pre-label">
        <span>Titulo</span>
        <input
          type="text"
          class="form-control"
          formControlName="title"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && a.title.errors }"
        />
      </label>
      <label for="" class="pre-label p-0">
        <span>Descrição</span>
        <textarea
          type="text"
          class="form-control"
          formControlName="description"
          [ngClass]="{ 'is-invalid': submitted && a.description.errors }"
        ></textarea>
      </label>
      <label for="" class="pre-label">
        <span>Titulo</span>
        <input
          type="text"
          class="form-control"
          formControlName="logo"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && a.logo.errors }"
        />
      </label>
    </div>
  </div>
  <div class="modal-footer end-flex">
    <k-button
      [type]="'primary smaller'"
      [loading]="loading"
      (click)="saveTeam()"
    >
      Salvar
    </k-button>
    <button class="btn btn-light smaller" (click)="activeModal.close(null)">
      Cancelar
    </button>
  </div>
</form>
