<div class="container-fluid" id="boards">
  <section>
    <div class="center-flex title spaced block-mobile">
      <search (search)="onSubmitSearch($event)"></search>
      <button
        primary="background"
        class="btn"
        (click)="openModalBoard(null)"
        [ngClass]="[devices.desktop ? 'icon floating' : 'btn-icon btn-add']"
      >
        <i class="material-icons text-white m-0">{{
          devices.desktop ? 'add_circle_outline' : 'add'
        }}</i>
        <span [hidden]="!devices.desktop">Novo board</span>
        <span></span>
      </button>
    </div>
    <skeleton [qnt]="3" *ngIf="loading"></skeleton>

    <div
      class="empty"
      *ngIf="!loading && !cards.length"
      (click)="reloadBoards()"
    >
      <img src="./assets/img/404.png" alt="Sem nada" />
      <p>Parece que não há nada por aqui!</p>
      <k-button customClass="btn-sm" type="secondary"
        >Tentar novamente</k-button
      >
    </div>
    <!--card -->
    <board-card
      [cards]="cards"
      (edit)="editBoard($event)"
      (delete)="deleteBoard($event)"
    ></board-card>
  </section>
  <ngb-pagination
    [collectionSize]="10"
    [(page)]="page"
    aria-label="Default pagination"
  ></ngb-pagination>
</div>
