@import "../../../styles.scss";

.btn-global {
  @extend .center-flex;
  .spin {
    margin-right: 4px;
    margin-top: -10px;
    animation: rotate 1s linear infinite;
  }
  &.smaller {
    .spin {
      margin-top: -18px;
    }
  }
  &.disabled {
    user-select: none;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
