/* You can add global styles to this file, and also import other style files */
$material-icons-font-path: "~material-icons/iconfont/";

@import "~material-icons/iconfont/material-icons.scss";

@import "./lib/animate";
@import "./lib/alerts";
@import "./lib/behaviors";
@import "./lib/btn";
@import "./lib/card";
@import "./lib/colors";
@import "./lib/dropdown";
@import "./lib/inputs";
@import "./lib/modal";
@import "./lib/pagination";
@import "./lib/shadows";
@import "./lib/responsive";
@import "./lib/typography";
@import "./lib/tabs";
@import "./lib/toast";

html {
  @media (max-width: 981px) {
    max-width: 100%;
    overflow: hidden;
  }
}
body {
  overflow-x: hidden;
  background: $white;
  @media (max-width: 981px) {
    padding-bottom: 100px;
    overflow: hidden;
  }
}
* {
  box-sizing: border-box;
  font-family: $font-family;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none !important;
}
